* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'blu-writing';
    src: url('../media/fonts/blu.woff') format('woff');
    font-size: 16px;
}

body {
    background-color: #F7EDE2;
}

nav {
    background-color: #F5CAC3;
    width: 100vw;
    height: 80px;
    align-items: center;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    text-decoration: none;
    padding: 10px;
    display: inline;
}

nav ul li a {
    width: 100px;
    height: 35px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    margin: 10px 10px 10px 40px;
    font-family: "blu-writing";
    font-size: 24px;
    background-color:#F7EDE2;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    text-decoration: none;
    color: black;
} 
nav ul li a:hover {
    transform: scale(0.9); 
    background-color: #F28482;

}
